[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
faker = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-restful = "*"
flask-cors = "*"
gunicorn = "*"
flask-login = "*"
flask-wtf = "*"
flask-jwt-extended = "*"
flask-bcrypt = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.10"
